table{
	border:2px solid black;
	text-align:center;
	border-collapse : collapse;
}
td,th{
	border:1px solid black;
	padding:20px;
}
th{
	background-color:lightgrey;
}
h1{
	text-align:center;
	color:grey;
	margin-bottom:5px;
}
h2{
	text-align:center;
	color:blue;
	font-weight:bold;
}
